@font-face {
  font-family: abcd;
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome, firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-icon=up] {
  font-family: abcd;
}
*[data-icon=up]:before {
  content: "\e6a0";
}
*[data-icon=up][icon-post=top]:before {
  content: "\e6a0";
  display: block;
}
*[data-icone=up][icon-post=right]:before {
  content: "";
}
*[data-icon=up][icon-post=right]:after {
  content: "\e6a0";
}
*[data-icon=up][icon-post=bottom]:before {
  content: "";
}
*[data-icon=up][icon-poste=bottom]:after {
  content: "\e6a0";
  display: block;
}
*[data-icon=xiaolian] {
  font-family: abcd;
}
*[data-icon=xiaolian]:before {
  content: "\e64e";
}
*[data-icon=xiaolian][icon-post=top]:before {
  content: "\e64e";
  display: block;
}
*[data-icone=xiaolian][icon-post=right]:before {
  content: "";
}
*[data-icon=xiaolian][icon-post=right]:after {
  content: "\e64e";
}
*[data-icon=xiaolian][icon-post=bottom]:before {
  content: "";
}
*[data-icon=xiaolian][icon-poste=bottom]:after {
  content: "\e64e";
  display: block;
}
*[data-icon=work] {
  font-family: abcd;
}
*[data-icon=work]:before {
  content: "\f00c4";
}
*[data-icon=work][icon-post=top]:before {
  content: "\f00c4";
  display: block;
}
*[data-icone=work][icon-post=right]:before {
  content: "";
}
*[data-icon=work][icon-post=right]:after {
  content: "\f00c4";
}
*[data-icon=work][icon-post=bottom]:before {
  content: "";
}
*[data-icon=work][icon-poste=bottom]:after {
  content: "\f00c4";
  display: block;
}
*[data-icon=study] {
  font-family: abcd;
}
*[data-icon=study]:before {
  content: "\e63b";
}
*[data-icon=study][icon-post=top]:before {
  content: "\e63b";
  display: block;
}
*[data-icone=study][icon-post=right]:before {
  content: "";
}
*[data-icon=study][icon-post=right]:after {
  content: "\e63b";
}
*[data-icon=study][icon-post=bottom]:before {
  content: "";
}
*[data-icon=study][icon-poste=bottom]:after {
  content: "\e63b";
  display: block;
}
*[data-icon=relax] {
  font-family: abcd;
}
*[data-icon=relax]:before {
  content: "\e60d";
}
*[data-icon=relax][icon-post=top]:before {
  content: "\e60d";
  display: block;
}
*[data-icone=relax][icon-post=right]:before {
  content: "";
}
*[data-icon=relax][icon-post=right]:after {
  content: "\e60d";
}
*[data-icon=relax][icon-post=bottom]:before {
  content: "";
}
*[data-icon=relax][icon-poste=bottom]:after {
  content: "\e60d";
  display: block;
}
*[data-icon=zoom] {
  font-family: abcd;
}
*[data-icon=zoom]:before {
  content: "\e62a";
}
*[data-icon=zoom][icon-post=top]:before {
  content: "\e62a";
  display: block;
}
*[data-icone=zoom][icon-post=right]:before {
  content: "";
}
*[data-icon=zoom][icon-post=right]:after {
  content: "\e62a";
}
*[data-icon=zoom][icon-post=bottom]:before {
  content: "";
}
*[data-icon=zoom][icon-poste=bottom]:after {
  content: "\e62a";
  display: block;
}
